button, .btn {
  cursor: pointer;
}

.btn {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem 5rem;
  margin: 1.5625rem 0 0;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  transition: all .3s ease;
  background-color: transparent;
  text-decoration: none;
}

.btn-outline-teal {
  color: rgb(var(--teal));
  border: 2px solid rgb(var(--teal));

  &:hover {
    background-color: rgb(var(--teal));
    color: rgb(var(--white));
  }
}

.btn-outline-purple {
  color: rgb(var(--purple));
  border: 2px solid rgb(var(--purple));

  &:hover {
    background-color: rgb(var(--purple));
    color: rgb(var(--white));
  }
}
