/* A flex grid to be used as a backup in case display grid
   is not supported in the browser. */

$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px
);

$grid-columns: 12;

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  [class^="grid-col-"] {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  @each $breakpoint, $min-width in $grid-breakpoints {
    @media (min-width: $min-width) {
      @for $i from 1 through $grid-columns {
        .grid-col-#{$breakpoint}-#{$i} {
          flex: 0 0 ($i / $grid-columns * 100%);
          max-width: ($i / $grid-columns * 100%);
        }
      }
    }
  }
}

/* If the grid is supported then I will use that, if not then
the display flex can serve as a backup. */
@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat($grid-columns, 1fr);
    grid-gap: 1rem;
    flex-wrap: none;
    margin-right: 0;
    margin-left: 0;

    > [class^="grid-col-"] {
      flex: none;
      max-width: none;
    }

    @each $breakpoint, $min-width in $grid-breakpoints {
      @media (min-width: $min-width) {
        @for $i from 1 through $grid-columns {
          .grid-col-#{$breakpoint}-#{$i} {
            grid-column: span $i;
          }
        }
      }
    }
  }
}
