@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Paleta de colores */
$teal: #00d8b2;
$light-purple: #5458ff;
$off-white: #fefffe;
$white: #fff;
$charcoal: #111;
/* Font family */
$font-family : 'Roboto', sans-serif;